body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
    background: #273c75;
}

.count-wrapper {
    background: #ffffff;
    padding: 2rem;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    user-select: none;
    width: 300px;
    overflow: hidden;
}

.count {
    font-size: 3rem;
    font-family: times new roman;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background: #273c75;
    font-weight: bold;
    line-height: 100px;
    color: #fff;
    border-radius: 50%;
    
}

.btn-group {
    text-align: center;
}

.btn-group button {
    background: #273c75;
    border: 1px solid #fff;
    font-size: 1.5rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;


}
.disabled{
    opacity: .8;
    pointer-events: none;
}


.settings{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 2rem;
    background: #273c75;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.settings-wrapper{
    position: absolute;
    right: -100%;
    transition: all 0.3s ease-in;
    top: 0%;
    z-index: 1;
    background: #ffffffb4;
    height: 100%;
    width: 50%;
    padding: 1rem;
    font-family: poppins;
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.settings-wrapper.active{
    right: 0%;
}
.settings-wrapper label{
    display: block;
}
.settings-wrapper .field{
    margin: 1rem 0rem;
}

.settings-wrapper select{
    width: 100%;
    padding: .3rem;
    font-family: poppins;
    outline: none;
    margin-top: .5rem;
    border-radius: 3px;
    cursor: pointer;
}